h1 a, h2 a {
    color: #C25100;
    font-family: 'Bungee Inline';
}

body {
/*    padding-left: 15px;*/
}

.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
    color: #ffffff;
    font-size: 26pt;
    text-decoration: none;
}

.content {
    margin: auto;
    width: 60%;
}

.content p {
    width: 57vw; /* bootstrap css override, better way to do this?*/
}

/* TODO make better suited for small viewport*/
.row {
    margin-left:0.1vw;
    padding: 0px;
}

.background-bar {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100vh;
    width: 60%;
    background-color:rgba(194, 81, 0, 0.3);
    z-index:-1;
}

h1, h2, h3, h4 {
    font-family: 'Roboto';
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

button{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-decoration: none;
}

button a , buton a:hover {
    color: #ffffff;
    text-decoration: none!important;
}

.post {
    margin-bottom: 40px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}
